<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="css/text"  href="{% static 'tmwc_app/style.css' %"}>
    <title>Index</title>
</head>
<body>
    <div class="title text-center" style="background-color: rgb(151, 81, 6)">
          <h2>TEXAS MESQUITE</h2>
          <h2>WOOD AND CHARCOAL</h2>
          <p>SAN ANTONIO, TX</p>

        <div class="d-grid gap-2 d-md-flex justify-content-md-around">
            <a href="#" class="btn btn-dark">CHARCOAL</a>
            <a href="#" class="btn btn-dark">  WOOD  </a>
            <a href="#" class="btn btn-dark">LOCATIONS</a>
        </div>
    </div>



      <div class="row justify-content-around my-5 "style="height: 300px;">
        <div class="col-sm-4">
            <div class="card text-center h-100 " style="background-color:rgb(151, 81, 6)">

          </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center h-100">
                <div class="card-body">
              <h5 class="card-title">Advantages of Mesquite wood and charcoal</h5>
              <p class="card-text">Mesquite wood and charcoal burns very slowly, longer, and will generate a lot of heat for a longer period of time, so you can use less Mesquite wood or charcoal when you barbeque. The smoke that it generates gives a very distinct flavor to meats that you barbeque, and that Texans love.  Across Texas, it is most often used to prepare smoked barbecue, from steak, chicken, pork, to venison and other exotic meats.  Buy a bag of Texas Mesquite Wood & Charcoal for your next backyard barbeque. </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-around my-5 "style="height: 300px;">
        <div class="col-sm-4">
            <div class="card text-center h-100 " style="background-color:rgb(151, 81, 6)">

          </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center h-100 ">
                <div class="card-body">
              <h5 class="card-title">Igniting the Charcoal.</h5>
              <p class="card-text">To ignite the Mesquite charcoal or wood, soak a paper towel in cooking oil, place some charcoal or wood on the soaked paper towel, and light with a lighter.  Using cooking oil, means that your bargeque will not have that petroleum taste to your meats as it cooks, like some charcoal briquettes do.   As a result, Texas Mesquite Charcoal  will provide a more consistent natural burn without excessive smoking ensuring that the natural flavor of  food is enhanced and not masked.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-around my-5 "style="height: 300px;">
        <div class="col-sm-4">
            <div class="card text-center h-100 " style="background-color:rgb(151, 81, 6)">
                <div class="card-body">

            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center h-100 ">
                <div class="card-body">
              <h5 class="card-title">Bag Sizes</h5>
              <p class="card-text">Texas Mesquite Wood & Charcoal  is sold in different sizes of bags.  
                Charcoal is sold in approximately 6.6 lb bags, and 30 lb bags.
                Wood is sold in bags, quanities of 0.66 cu.ft, approimately 20 lbs.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-around my-5 "style="height: 300px;">
        <div class="col-sm-4">
            <div class="card text-center h-100 " style="background-color:rgb(151, 81, 6)">

          </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center h-100">
                <div class="card-body">
              <h5 class="card-title">About</h5>
              <p class="card-text">Texas Mesquite Wood & Charcoal is focusing on producing  and providing a high quality product offering the best regarding customers needs and we guarantee the best quality in mesquite.</p>
            </div>
          </div>
        </div>
      </div>
    
    
    </body>
</html>